{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-dark text-light text-center container mt-5">
    <h1 class="display-4">Добро пожаловать в приложение "MyMusic"</h1>
    <p class="lead">В этом приложении вы можете загружать и воспроизводить свои любимые песни, просматривать музыкальный
        контент, который был загружен другими пользователями и добавлять понравившиеся песни в подборку</p>
    <hr class="my-4">
    <p>Загрузить композицию в плэйлист</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('upload') }}" role="button">Загрузить</a>

</div>
{% endblock %}
